<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FireUpYourVPN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C8F43B6A1C04B08A006C62BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8F43B7E1C04B08A006C62BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8F43B891C04B08A006C62BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8F43B9F1C04B0A5006C62BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
